<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
    <%= f.label "Post title:" %><br>
    <%= f.text_field :title %>
    <%= f.label "Post Description" %><br>
    <%= f.text_area :description %>
    <%= f.submit %>
<% end %>
